[Unit]
Description=go.vine.service.auth
After=network.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/vine/auth
EnvironmentFile=-/opt/vine/auth/config/auth.ini
ExecStart=/opt/vine/auth/bin/auth \
  --server-name=${SERVER_NAME} \
  --server-address=${SERVER_ADDRESS} \
Restart=on-failure
LimitNOFILE=65536
[Install]
WantedBy=multi-user.target
